.body {
  font-family: "Libre Baskerville", serif;
  background: #eeebd3;
  height: 100%;
}
.top-24 {
  margin-top: 24px;
}
::selection {
  background: #f7c548;
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
  overflow-x: hidden;
  min-height: 100vh;
}
.title,
.intro {
  position: relative;
  display: inline;

  &:after {
    margin-top: 4px;
    position: absolute;
    content: "";
    width: 0%;
    left: 0;
    bottom: 0;
    height: 2px;
    background: black;
    transition: width 0.5s;
  }
  &.underline:after {
    width: 100%;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 2px;
    background: black;
    transition: width 0.5s;
  }
}

.intro:after {
  height: 4px !important;
}
.main {
  margin-top: 140px;
}
.flex {
  display: flex;

  &.justify-between {
    justify-content: space-between;
  }
}

.main {
  position: relative;
  padding-left: 24px;

  &:after {
    position: absolute;
    content: "";
    width: 4px;
    left: 0;
    bottom: 0;
    height: 0%;
    background: black;
    transition: height 0.5s;
  }
  &.border:after {
    width: 4px;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 100%;
    background: black;
    transition: height 0.5s;
  }
}
